.boxmain{
    height: 35vh;
    width: 100%;
    /* width: 00px; */
    /* width: 60vw; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgb(39,67,117) ;
    color: white;
    display: none;
    
}
.faith1:hover > .boxmain{
    display: flex;
    cursor: pointer;    

}
.boxa{
    border: 1px solid gray;
    /* border: 1px solid red; */
    height: 35vh;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
}
.l11,.l22,.l33{
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 8px; */
    /* color: aqua;
     */
     letter-spacing: 5px;
     row-gap: 6px;
    

}
.l5{
    width: 90%;
    padding-left: 20px;
    font-size: 25px;

}

.l44{
    height: 30px;
    width: 90%;
    justify-content: space-evenly;
    font-size: 19px;
    padding-left: 20px;
    font-weight:300;
}
.b1{
    height: 4vh;
    font-size: 25px;
    /* width: 100%; */
    /* border: 1px solid red; */
    /* text-align: center; */
}.b2{

    /* background-color:rgb(39,67,117) ; */
    height: 22vh;
    width: 100%;
    /* border: 1px solid red; */
    /* text-align: center; */
    padding: 3px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5px;
    /* text-size-adjust:initial; */
}
.boxe{
    /* border: 1px solid red; */
    height: 22vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    //* align-items: center; */
}
.boxb{
    border: 1px solid gray;
    /* background-color:rgb(39,67,117) ; */
    /* border: 1px solid red; */
    height: 35vh;
    width: 25%;

}
.boxc{
    /* background-color:rgb(39,67,117) ; */
    border: 1px solid gray ;
    height: 35vh;
    width: 25%;

}
.boxd{
    border: 1px solid gray;
    height: 35vh;
    width: 25%;

}
.l5:hover,.b1:hover,.l44:hover,.l1:hover{
    background-color: rgb(0,120,212);

}

